{% extends 'layout/base_employee.html' %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">NHẬP MÃ SÁCH</title>
{% endblock %}

{% block content %}
{%if current_user.is_authenticated%}
<h1>Xin chào nhân viên {{current_user.name}}</h1>
{% endif%}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <div id="exportButton"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Xuất file</div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Book Inventory</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái thanh toán</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in orders %}
                    <tr>
                        <td id="order_id"> {{ o.id}}</td>
                        <td> {{ o.order_date }}</td>
                        <td>Chưa thanh toán</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button id="delete_order" class="btn btn-info">Xóa các đơn quá hạn</button>
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}

<script src="{{ url_for('static', filename='js/check_order.js') }}"></script>

{% endblock %}