{% extends 'layout/base_employee.html' %}
{% block title %}
<title>MAY QUET MA SACH</title>
{% endblock %}

{% block content %}
<h1>QUÉT MÃ SÁCH</h1>
<div style="width:300px; height:300px">
    <div id="reader" style=" width:300px; height:300px; "></div>
</div>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
    console.log("asd")
    function onScanSuccess(decodedText, decodedResult) {
      // handle the scanned code as you like, for example:
      console.log(`Code matched = ${decodedText}`, decodedResult);
    }

    function onScanFailure(error) {
      // handle scan failure, usually better to ignore and keep scanning.
      // for example:
      console.warn(`Code scan error = ${error}`);
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
      "reader",
      { fps: 10, qrbox: {width: 200, height: 200} },
      /* verbose= */ false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
{% endblock %}
