{% extends 'admin/base.html' %}


{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block body %}
<div class="offcanvas offcanvas-start demo" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Menu</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body items_stats">
        <div class="item">
            <a href="revenue">Báo cáo doanh thu</a>
        </div>
        <div class="item">
            <a href="inventory">Báo cáo số lượng tồn kho</a>
        </div>
    </div>
</div>
<h1 class="text-center">Báo Cáo Doanh Thu</h1>



<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table-striped w-full">
            <tr>
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td> {{ s[0] }}</td>
                <td> {{ s[1] }}</td>
                <td>
                    {% if s[2] %}
                    {{ "{:,.1f}".format(s[2]) }} VND
                    {% else %}
                    0 VND
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form class="mb-3">
            <div class="form-group mb-2">
                <input type="text" class="form-control w-full" name="kw" placeholder="Nhập tên sách..."/>
            </div>
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="author" placeholder="Nhập tên tác giả..."/>
            </div>
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="category" placeholder="Nhập tên loại sách..."/>
            </div>
            <div class="form-group mb-2">
                <input type="date" class="form-control" name="from_date"/>
            </div>
            <div class="form-group mb-2">
                <input type="date" class="form-control" name="to_date"/>
            </div>
            <input type="submit" value="Thống kê" class="btn btn-info"/>
        </form>
        <canvas id="MyCategoryChart"></canvas>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    <!--  labels chứa name category -->
    <!--  info số lượng -->
        let labels = [], info = []

        let r, g ,b;
        let type = 'bar'
        let colors = []
        let borderColors = []


        {% for s in stats %}
            {% if s[2] %}
            labels.push(' {{ s[1] }} ')
            info.push( {{ s[2] }} )

            r = Math.random()*255
            g = Math.random()*255
            b = Math.random()*255

            colors.push(`rgba(${r}, ${g}, ${b}, 0.5)`)
            borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
            {% endif %}

        {% endfor %}

        window.onload = function(){
            const ctx = document.getElementById('MyCategoryChart');
            loadChart(ctx, labels, info, type, colors, borderColors)
        }

    let myChart

    function loadChart(ctx, labels, info, type, colors, borderColors){
          if(myChart){
            myChart.destroy();
          }
          myChart = new Chart(ctx, {
          type: type,
          data: {
              labels: labels,
              datasets: [{
                  label: 'Thống kê doanh thu',
                  data: info,
                  backgroundColor: colors,
                  borderColor: borderColors,
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    }
</script>

{% endblock%}