a {
    text-decoration: none;
    color: black;
}

.item{
    with: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.item:hover{
    background-color: rgb(4,71,133);
}

.item:hover a{
    color: white;
    text-decoration: none;
}

.btn-menu{
    border: 1px solid black;
 }
.btn-menu:hover{
    background-color: rgba(4,71,133, 1);
    color: white;
}

