{% extends 'layout/base.html' %}
{% block title %}
<title>GIỎ HÀNG</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}"/>
{% endblock %}

{% block content %}
<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0">Giỏ Hàng</h3>
                    <div>
                        <p class="mb-0"><span class="text-muted">Sắp xếp theo:</span> <a href="#!" class="text-body">
                            giá<i
                                class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                </div>
                {% if 'cart' in session %}
                {% for c in session['cart'].values() %}
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4" id="book {{ c.id }}">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img
                                        src="{{ c.img }}"
                                        class="img-fluid rounded-3" alt="{{ c.name }}">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">{{ c.name }}</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="form1" min="0" name="quantity" value="{{ c.quantity }}" type="number"
                                       onblur="updateCart({{ c.id }}, this)" class="form-control form-control-sm"/>

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">{{ "{:,.1f}".format(c.price) }} VNĐ</h5>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <input type="button" value="Delete" class="btn btn-danger" onclick="deleteCart({{ c.id }})"/>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% if cart_stats.total_quantity == 0 %}
                <div class="alert alert-info mt-1">KHÔNG có sản phẩm trong giỏ!</div>
                {% endif %}

                <div class="card p-2 mb-4 text-end">
                    <h3 class="small">Tổng số lượng: <span class="cart-counter">{{ cart_stats.total_quantity }}</span></h3>
                    <h3 class="small">Tổng tiền: <span id="totalAmount">{{ "{:,.1f}".format(cart_stats.total_amount) }}</span> VNĐ</h3>
                </div>

                <div class="card">
                    {% if current_user.is_authenticated %}
                    <div class="card-body">
                        <button type="button"
                                onclick="pay()",
                                class="btn btn-warning btn-block btn-lg btn-pay">Tạo hóa đơn
                        </button>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <button type="button"
                                class="btn btn-warning btn-block btn-lg btn-pay">
                            <a class="text-decoration-none" href="/customer/login">Đăng nhập để thanh toán</a>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}