{% extends 'admin/base.html' %}

{% block body %}
<div class="row mt-4">
    <div class="col-md-8 col-xs-12">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Mã loại sách</th>
                <th>Tên loại sách</th>
                <th>Số lượng</th>
            </tr>
            </thead>
            {% for s in stats %}
            <tr>
                <td> {{ s[0] }}</td>
                <td> {{ s[1] }}</td>
                <td> {{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Category</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class=" pt-4 pb-2">
                    <canvas id="MyCategoryChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    {% for s in stats %}
                    <span class="mr-2">
                        <i class="fas fa-circle "></i> {{ s[1] }}
                    </span>
                    {% endfor %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>


    <!--  labels chứa name category -->
    <!--  info số lượng -->
        let labels = [], info = []

        let r, g ,b;
        let colors = []


        {% for s in stats %}
            labels.push(' {{ s[1] }} ')
            info.push( {{ s[2] }} )

            r = Math.random()*255
            g = Math.random()*255
            b = Math.random()*255

            colors.push(`rgba(${r}, ${g}, ${b}, 1)`)


        {% endfor %}

        const icons = document.querySelectorAll('.fas.fa-circle');

        icons.forEach((icon, index) => {
            icon.style.color = colors[index];
        });

        const ctx = document.getElementById('MyCategoryChart');

        const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: labels,
            datasets: [{
              label: 'Thống kê số lượng sách theo loại',
              data: info,
              backgroundColor: colors,
            }],
          },
          options: {
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                }
            },
            cutout: '80%',
        }
      });
</script>
{% endblock%}
