{% extends 'admin/base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>Mã loại sách</th>
                <th>Tên loại sách</th>
                <th>Số lượng sản phẩm</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td> {{ s[0] }}</td>
                <td> {{ s[1] }}</td>
                <td> {{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <canvas id="MyCategoryChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
<!--  labels chứa name category -->
<!--  info số lượng -->
    let labels = [], info = []

    let r, g ,b;
    let colors = []
    let borderColors = []


    {% for s in stats %}
        labels.push(' {{ s[1] }} ')
        info.push( {{ s[2] }} )

        r = Math.random()*255
        g = Math.random()*255
        b = Math.random()*255

        colors.push(`rgba(${r}, ${g}, ${b}, 0.5)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)

    {% endfor %}

    const ctx = document.getElementById('MyCategoryChart');

    const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: labels,
          datasets: [{
              label: 'Thống kê số lượng sách theo loại',
              data: info,
              backgroundColor: colors,
              borderColor: borderColors,
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endblock%}
