{% extends 'layout/base_admin.html' %}

{% block title %}
<title>SB Admin 2 - Table-revenue</title>
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<!-- Custom styles for this page -->
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <div id="exportButton"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Xuất file</div>
    </div>

    <select id="type-revenue" class="form-select mb-3" >
        <option value="revenue-book">Báo cáo doanh thu theo sản phẩm</option>
        <option value="revenue-month">Báo cáo doanh thu theo tháng</option>
        <option value="revenue-day">Báo cáo doanh thu theo ngày</option>
    </select>
    <input type="text" id="inputYear" class="form-control mb-3" style="display: none;"  onblur="hideInput()" placeholder="Nhập năm..." disabled/>
    <input type="text" id="inputMonth" class="form-control mb-3" style="display: none;"  onblur="hideInput()" placeholder="Nhập tháng..." disabled/>
    <div class="row divDate">
        <div class="col-md-1 col-xs-12 d-flex align-items-center">
            <label>Từ ngày : </label>
        </div>
        <div class="col-md-11 col-xs-12">
            <input type="date" id="inputFromDate" class="form-control mb-3"  placeholder="Từ ngày" />
        </div>
    </div>
    <div class="row divDate">
        <div class="col-md-1 col-xs-12 d-flex align-items-center">
            <label>Đến ngày : </label>
        </div>
        <div class="col-md-11 col-xs-12">
            <input type="date" id="inputToDate" class="form-control mb-3"    placeholder="Đến ngày..." />
        </div>
    </div>

    <button class="mb-3 btn btn-info" id="view-stats" value="table-revenue">Xem thông kê</button>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Book Revenue</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {% if type_revenue == "revenue-book" %}
                    <thead>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Loại Sách</th>
                        <th>Doanh thu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in stats_book %}
                    <tr>
                        <td> {{ s[0] }}</td>
                        <td> {{ s[1] }}</td>
                        <td> {{ s[2] }}</td>
                        <td>
                            {% if s[3] %}
                            {{ "{:,.0f}".format(s[3]) }} VND
                            {% else %}
                            0 VND
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% elif type_revenue == "revenue-month" %}
                    <thead>
                    <tr>
                        <th>Tháng</th>
                        <th>Doanh thu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in stats %}
                    <tr>
                        <td> {{ s[0] }}</td>
                        <td>
                            {% if s[1] %}
                            {{ "{:,.0f}".format(s[1]) }} VND
                            {% else %}
                            0 VND
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% elif type_revenue == "revenue-day" %}
                    <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Doanh thu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in stats %}
                    <tr>
                        <td> {{ s[0] }}</td>
                        <td>
                            {% if s[1] %}
                            {{ "{:,.0f}".format(s[1]) }} VND
                            {% else %}
                            0 VND
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script><!-- Thư viện xuất Excel -->
<script src="{{ url_for('static', filename='js/export_file_excel.js') }}"></script>
{% endblock %}