{% extends 'layout/base.html' %}

{% block content %}
<div class="d-flex">
    <div id="carouselExampleIndicators" class="carousel slide advs">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/books?kw=Ninja+Rantaro">
                    <img src="{{ url_for('static', filename='img/qc1.jpg') }}"
                         class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/books?category_id=14">
                    <img src="{{ url_for('static', filename='img/qc2.jpg') }}"
                         class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/books?category_id=7">
                    <img src="{{ url_for('static', filename='img/qc3.jpg') }}"
                         class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="d-flex advs">
        <div class="fl-item">
            <div class="adv-item ml-5 text-center">
                <a href="/books/4">
                    <img src="https://res.cloudinary.com/ds4oggqzq/image/upload/v1734517374/s3-h1_azd2fl.jpg"
                         class="d-block w-100" alt="...">
                </a>
            </div>
            <h5 class="small adv-text">Top doanh thu tháng</h5>
            <div class="adv-item ml-5 ">
                <a href="/books/2">
                    <img src="https://res.cloudinary.com/ds4oggqzq/image/upload/v1734516977/s2-h1_m4yl3r.jpg"
                         class="d-block w-100" alt="...">
                </a>
            </div>
            <h5 class="small adv-text">Sách mới năm nay</h5>
        </div>
        <div class="fl-item">
            <div class="adv-item ml-5 ">
                <a href="/books/7">
                    <img src="https://res.cloudinary.com/ds4oggqzq/image/upload/v1734517896/s7-h1_laqiod.jpg"
                         class="d-block w-100" alt="...">
                </a>
            </div>
            <h5 class="small adv-text">Best Seller</h5>
            <div class="adv-item ml-5 ">
                <a href="/books/13">
                    <img src="https://res.cloudinary.com/ds4oggqzq/image/upload/v1734884293/b13_h1_hdpjgo.jpg"
                         class="d-block w-100" alt="...">
                </a>
            </div>
            <h5 class="small adv-text">Sách Bán Chạy</h5>
        </div>
    </div>
</div>
<section style="background-color: #eee;" class="aaa">
  <div class="container py-5">
    <h4 class="text-center mb-5"><strong>Các thể loại</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="{{ url_for('static', filename='img/qc4.jpg') }}"
            class="w-100" />
          <a href="/books?category_id=10">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-body-tertiary pt-2 ms-3 mt-3 text-dark">Sách học ngoại ngữ</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="{{ url_for('static', filename='img/qc5.jpg') }}"
            class="w-100" />
          <a href="/books?category_id=11">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-body-tertiary pt-2 ms-3 mt-3 text-dark">Truyện Tranh</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="{{ url_for('static', filename='img/qc6.jpg') }}"
            class="w-100" />
          <a href="/books?category_id=7">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-body-tertiary pt-2 ms-3 mt-3 text-dark">Đời sống</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded ripple-surface">
          <img src="{{ url_for('static', filename='img/qc7.jpg') }}"
            class="w-100" />
          <a href="/books?category_id=9">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-body-tertiary pt-2 ms-3 mt-3 text-dark">Tạp chí</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="{{ url_for('static', filename='img/qc8.jpg') }}"
            class="w-100" />
          <a href="/books?category_id=13">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-body-tertiary pt-2 ms-3 mt-3 text-dark">Thiếu nhi</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded">
          <img src="{{ url_for('static', filename='img/qc9.jpg') }}"
            class="w-100" />
          <a href="/books?category_id=14">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-body-tertiary pt-2 ms-3 mt-3 text-dark">Văn Học</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}